<?xml version="1.0"?>
<launch>
  <arg name="odom_frame" default="odom"/>
  <arg name="map_frame" default="map"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="max_laser_range" default="8"/>
  <arg name="map_update_interval" default="2"/>
  <arg name="map_file_name"/>
  <arg name="map_start_at_dock" default="true"/>
  <arg name="map_start_pose" default="[0.0000, 0.000, 0.000000]"/>
  <node name="slam_toolbox" output="screen" pkg="slam_toolbox" type="async_slam_toolbox_node">
    <rosparam command="load" file="$(find hydra_stretch)/config/slam_toolbox/mapper_params_localization.yaml"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="max_laser_range" value="$(arg max_laser_range)"/>
    <param name="map_update_interval" value="$(arg map_update_interval)"/>
    <param name="map_file_name" value="$(arg map_file_name)"/>
    <param name="map_start_at_dock" value="$(arg map_start_at_dock)"/>
    <param name="map_start_pose" value="$(arg map_start_pose)"/>
  </node>
</launch>
